streamlit
numpy
pandas
matplotlib
seaborn
scikit-learn
fbprophet
matplotlib_inline
pickle
contextlib
time
langid
inspect
pandas_profiling
re
string
nltk
statsmodels
folium
geopy
lime
scipy